<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>OAS Admin Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <!-- jQuery-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{'/admin'}">Dashboard</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <span class="navbar-brand mx-auto">Online Appointment System - Admin</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/logout'}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Content -->
    <div class="container-fluid">
        <!-- New Doctor Form -->
        <div class="card mb-3">
            <div class="card-header">
                <h4>Register New Doctor</h4>
            </div>
            <div class="card-body">
                <form class="form-inline" autocomplete="off" action="#" th:action="@{/createDoctor}" th:object="${dummyUserInfo}" method="POST">
                    <input type="text" th:field="*{fname}" placeholder="First Name" class="form-control mr-sm-2" required />
                    <input type="text" th:field="*{lname}" placeholder="Last Name" class="form-control mr-sm-2" required />
                    <input type="email" th:field="*{email}" placeholder="Email Address" class="form-control mr-sm-2" required />
                    <select class="form-control mr-sm-2" th:if="${docSpecialtyList}" th:field="*{testing}">
                        <option th:each="spec: ${docSpecialtyList}" th:value="${spec}" th:text="${spec}"></option>
                    </select>

                    <button type="submit" class="btn btn-primary">Create Doctor</button>
                </form>
            </div>
        </div>

        <!-- New Appointment Form -->
        <div class="card mb-3">
            <div class="card-header">
                <h4>Create New Appointment</h4>
            </div>
            <div class="card-body">
                <form class="form-inline"autocomplete="off" action="#" th:action="@{/appointments}" th:object="${appointmentForm}" method="POST">
                    <select class="form-control mr-sm-2" th:field="*{doctorId}">
                        <option th:each="doc: ${docInfoService.getAllDoctors()}" th:value="${doc.getId()}" th:text="${docInfoService.getDoctorName(doc.getId())}"></option>
                    </select>
                    <select  class="form-control mr-sm-2" th:field="*{patientId}">
                        <option th:each="pat: ${patInfoService.getAllPatients()}" th:value="${pat.getUserInfoId()}" th:text="${patInfoService.getPatientName(pat.getId())}"></option>
                    </select>
                    <input type="text"  class="form-control mr-sm-2" th:field="*{reasonForVisit}" placeholder="Reason for visit" />
                    <input type="datetime-local"  class="form-control mr-sm-2" th:field="*{doctorAvailableTime}" placeholder="SELECT DATE" />
                    <button type="submit" class="btn btn-primary">Create Appt</button>
                </form>
            </div>
        </div>

        <!-- Doctor List -->
        <div class="card mb-3">
            <div class="card-header">
                <h4>Registered Doctors</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Doctor Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Speciality</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="doc: ${docInfoService.getAllDoctors()}">
                        <td th:text="${docInfoService.getDoctorName(doc.getId())}"></td>
                        <td th:text="${docInfoService.getDoctorEmail(doc.getId())}"></td>
                        <td th:text="${docInfoService.getDoctorSpecialty(doc.getId())}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Patient List -->
        <div class="card mb-3">
            <div class="card-header">
                <h4>Registered Patients</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Patient Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">DOB</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pat: ${patInfoService.getAllPatients()}">
                        <td th:text="${patInfoService.getPatientName(pat.getId())}"></td>
                        <td th:text="${patInfoService.getPatientEmail(pat.getId())}"></td>
                        <td th:text="${patInfoService.getPatientDOB(pat.getId())}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Appointment List -->
        <div class="card mb-3">
            <div class="card-header">
                <h4>Registered Appointments</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Doctor Name</th>
                        <th scope="col">Patient Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Reason</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="appt: ${apptInfoService.getAllAppointments()}">
                        <td th:text="${apptInfoService.getDoctorName(appt)}"></td>
                        <td th:text="${apptInfoService.getPatientName(appt)}"></td>
                        <td th:text="${apptInfoService.getStartDate(appt)}"></td>
                        <td th:text="${apptInfoService.getReason(appt)}"></td>
                        <td><a href="#" th:href="@{'/appointments/' + ${appt.getId()} + '/cancel'}" class="btn btn-sm btn-danger">Cancel</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>