<!DOCTYPE html>
<html lang ="en"
 xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
</head>
<style>
div {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
</style>
</head>
<body>
<table>
    <thead>
        <tr>
            <th> List of your appointments </th>
        </tr>
    </thead>
    <tbody>   
        <tr th:each="appointment : ${appointmentsList}">
            <td><span th:each= "docName:${docInfoService.getDoctorName(appointment.doctorId)}" th:text="|Apppointment with doctor ${docName}|"> Doctor Name </span></td>
            <td><span th:text= "|from ${appointment.date_start}|"> Appointment start time </span></td>
            <td><span th:text="|to${appointment.date_end}|"> Appointment end time </span></td>
            <td><span th:text= "|with notes ${appointment.notes}|"> Appointment Notes </span></td>
            
        </tr>
    </tbody>

</table>

</body>
</html>