<!DOCTYPE html>
<html lang ="en"
 xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
</head>
<style>
div {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
</style>
</head>
<body>
  <h3>Scheduling an appointment</h3>
 <div class="form-group">
  
 <form id="specialityForm" action="#" th:action="@{/doctorSearch}" th:object="${doctor}" method="get" class="m-t" role="form">
     <select class="form-control selectpicker" name="speciality">
        <option value="">Select Speciality</option>
        <option th:each="doctor : ${doctors}"
                th:value="${doctor.speciality}"
                th:text="${doctor.speciality}">
                </option>
    </select>
             <input id="specialitySubmit" type="submit" value="Search For Doctors Available"/>
 </form>
 </div>
 <div>
<form id= "doctorForm" action="#" th:action="@{/availabilitySearch}" th:object="${doctorSpeciality}" method="get" class="m-t" role="form">
     <select class="form-control" name="name">
        <option value="">Select Doctor</option>
        <option th:each="doctor : ${doctorsWithSpeciality}"
                th:value="${doctor.id}"   
                th:text="${doctor.name}"
                >
                </option>
    </select>
             <input id="doctorSubmit" type="submit" value="Search for Appointments Available"/>
 </form>
 </div>
 <div>
 <form id= "availabilityForm" th:action="@{/bookAppointment}" th:object="${doctorAvailableTime}"  method="get" class="m-t" role="form">
     <select class="form-control" name="availability">
        <option value="">Select Available Time</option>
        <option th:each="availability : ${doctorsWithAvailabilities}"
                th:value="${availability.doctorAvailableTime}"
                th:text="${availability.doctorAvailableTime}"
                >
                </option>
    </select>
             <input id="appointmentSubmit" type="submit" value="Schedule an appointment"/>
 </form>
</div>

 <div class="margin-top20 text-center">
                 <a th:href="@{/appointments}">Check past/upcoming appointments</a>
            </div>    

   <br> <a th:href="@{/logout}">Logout</a>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>

</body>
</html>