<!DOCTYPE html>
<html lang ="en"
 xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
</head>
<body>

<label for="speciality">Scheduling an appointment</label>
 <form id="specialityForm" action="#" th:action="@{/doctorSearch}" th:object="${doctor}" method="get" class="m-t" role="form">

<!--<form th:action="@{/doctorSearch}" th:object="${doctor}" method="post">
 -->     <select class="form-control" name="speciality">
        <option value="">Select Speciality</option>
        <option th:each="doctor : ${doctors}"
                th:value="${doctor.speciality}"
                th:text="${doctor.speciality}"></option>
    </select>
             <input id="specialitySubmit" type="submit" value="Search"/>
 </form>
 
<form id= "doctorForm" th:action="@{/do}" method="post">
     <select class="form-control" name="name">
        <option value="">Select Doctor</option>
        <option th:each="doctor : ${doctorsWithSpeciality}"
                th:value="${doctor.name}"
                th:text="${doctor.name}"></option>
    </select>
             <input id="doctorSubmit" type="button" value="Search"/>
 </form>

    <a th:href="@{/logout}">Logout</a>
    <script>
    $('#specialitySubmit').on('click', function() {
   var form = $('#specialityForm');
   $.ajax({
      url: form.attr('action'),
      data: form.serialize(),
      type: post,
      success: function(result) {
          // Do something with the response.
          // Might want to check for errors here.
      }, error: function(error) {
          // Here you can handle exceptions thrown by the server or your controller.
      }
   })
}
    </script>

</body>
</html>