<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>OAS Patient Registration</title>

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <!-- jQuery-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- Bootstrap Validator plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</head>

<style>
	div {
		padding-left: 20px;
	}
</style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript"> 

function setSpeciality(doctorId) {
	$.ajax({
		type: 'GET',
		url: '/availability/' + doctorId,
		success: function(result) {
			var s = '';
			for(var i = 0; i < result.length; i++) {
				s += '<option value="' + result[i].doctorId + '">' + result[i].doctorAvailableTime + '</option>';
			}
			$('#appointmentIdx').html(s);
		}
	});
}


$(document).ready(function() {

	$('#specialityIdx').on('change', function(){
         var speciality = $(this).val();
		$.ajax({
			type: 'GET',
			url: '/doctors/speciality/' + speciality,
			success: function(result) {
				
				var s = '';
				for(var i = 0; i < result.length; i++) {
					s += '<option value="' + result[i].id + '">' + result[i].name + '</option>';
				}
				$('#doctorIdx').html(s);
					var doctorId = result[0].id;
					setSpeciality(doctorId);
				
			}
		
		});
	}); 

	$('#doctorIdx').on('change', function(){
		var doctorId = $(this).val();
		setSpeciality(doctorId);
	});

});
</script>

</head>
<body>
<div align="center">
	<form autocomplete="on" id="appointmentForm" 
		th:action="@{/bookAppointment}" method="post" class="m-t" role="form">

		<h3>Schedule an Appointment</h3>
		<div class="col-sm-4 form-group">

			<p><label>Speciality</label> 
			<select class="form-control selectpicker" id="specialityIdx" name="speciality">
				<option value="">Select...</option>
				<option th:each="doctor : ${doctors}"
					th:value="${doctor.speciality}" th:text="${doctor.speciality}">
				</option> 
			</select>
			</p>
			
			<p>
			<label>Doctor</label> 
				<select class="form-control" id="doctorIdx" name="name">
				<option value="">Select...</option>
				</select>
			</p>
			
			<p>
			<label>Date and Time</label> 
				<select class="form-control" id="appointmentIdx" name="availability">
				<option value="">Select...</option>
			</select> 
			</p>
	
			<p>
				<label>Reason for Visit</label> 
				<br>
				<input type="text" id="reasonToVisit"/>
			</p>
		
			<button type="submit"
	            class="btn btn-primary block full-width m-b">Confirm
	        </button>
		</div>
	</form>
	
	<a th:href="@{/appointments}">View Past and Future Appointments</a>
	<br>
	
	<a th:href="@{/logout}">Logout</a>
	
	
</div>
</body>
</html>